{% extends 'base.html' %}


<body>
    
    {% block contents %}

    <h2 style="font-family:Comic Sans MS; text-align:center"> Here is HOME! </h2>

    <p style = "font-family:Comic Sans MS; text-align:center"> 
        Hello, this page will introduce about CHANGYU.
        Thanks for visiting my site!!
    </p>

    <h5 style = "text-align:center;"><a href="{% url 'profile' %}"> changyu's profile </a> </h5>
    <h5 style = "text-align:center;"><a href="{% url 'hobby' %}"> changyu's hobby </a> </h5>
    
    {% endblock %}

</body>