{% extends 'base.html' %}

<body>

    {% block contents %}

    <h2 style="font-family:Comic Sans MS; color:Tomato; text-align:center;"> PROFILE </h2>

    <table style="width:20%; border:1px solid black",>
        <tr>
          <td style="font-weight:bold"> NAME </td>
          <td> changyu Lee </td>
        </tr>
        <tr>
          <td style="font-weight:bold"> AGE </td>
          <td> 24 </td>
        </tr>
        <tr>
            <td style="font-weight:bold"> BIRTH </td>
            <td> 1997. 09. 26 </td>
          </tr>
          <tr>
            <td style="font-weight:bold"> DEPARTMENT </td>
            <td> Digital Imaging </td>
          </tr>
          <tr>
            <td style="font-weight:bold"> BLOOD TYPE </td>
            <td> A </td>
          </tr>
          <tr>
            <td style="font-weight:bold"> HOME </td>
            <td> Pohang </td>
          </tr>
      </table>

    {% endblock %}

</body>