{% extends 'base.html' %}

<body> 
    {% block contents %}

    <h2 style="font-family:Comic Sans MS; color:Tomato; text-align:center;"> Here are my HOBBIES! </h2>

    <h3 style="color:DodgerBlue;"> First one is... Playing SOCCER!! </h3>
    <p style="width:50%;"> 
        I used to enjoying watching soccer but in these days I prefer playing soccer than watching soccer. My position is central mid-fielder. 
        I like Luca Modric, a Croatian player, and also he is a player in Real Madrid. I love his play style, and attitude as a soccer player.
        I usually play soccer twice a week, but I can't play soccer in these days because of COVID-19.
    </p>

    <h3 style="color:DodgerBlue;"> Second one is... Watching Movie!! </h3>
    <p style="width:50%;"> 
        In my free time, I usually watch movie or netflix!
        In my ase , my best movie is dark knight, and also best movie series is Harry Potter. Among the Korean movies, Kwang-hae is my favorite movie.
        I think byung-hun lee is my best actor!
    </p>

    <h3 style="color:DodgerBlue;"> Last one is... will be updated!! </h3>
    <p style="width:50%;"> 
        Last one will be updated soon. Anyone want to know about this please ask me personally.
    </p>

    {% endblock %}
</body>